
.col-sm-12 {
	width: 100%;
	float: left;
}

@media (min-width: 768px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}
	.col-md-12 {
		width: 100%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
		float: left;
	}
}