* {
	box-sizing: border-box;
	font-family: Garamond, serif;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.offset {
	margin-inline: -5px;
}

.recipe {
	border: 2px solid black;
	background-color: lightgray;
	margin-inline: 5px;
	margin-bottom: 10px;
}

.recipe-name {
	border: 2px solid black;
	float: right;
	padding-inline: 30px;
	margin-top: -2px;
	margin-right: -2px;
	margin-bottom: 5px;

	font-size: 125%;
	font-weight: bold;
	text-align: center;
}

.recipe-description {
	clear: right;
	margin: 5px;
}

.pink {
	background-color: lightpink;
}

.red {
	background-color: indianred;
	color: floralwhite;
}

.mustard {
	background-color: lightgoldenrodyellow;
}